.col-12 {
    border: 1px solid rgba(197, 195, 195, 0.925);
    height: 100px;
}
p {
    margin-top: 40px;
    text-align: center;            
}
a {
color: rgb(146, 122, 56);
}
a:hover{
text-decoration: underline;
color: white;
}
div.col-12 {  
    min-height: 778px;
    min-width: 750px;                                      
    }
div.col-6 p {
    color: rgb(146, 122, 56);
    font-size: 19pt;
    margin-top: 10px;
    text-align: justify;
}
div.col-6 {
    background-color: rgb(252, 243, 243);
}
.col { /*Footer*/
    background-color: rgb(252, 243, 243);
}  
.col-sm-6 {
    background-color: rgb(252, 243, 243);
}      
.btn {
    position: absolute;
    color: black;
    background-color: white;
    border-radius: 25px;            
    left: 800px;
    top: 600px;
    }
.btn:hover{
    background-color: rgb(146, 122, 56);
}
div.carousel {
    height: 500px;
    width: 1000px;
    left: 250px;
}
.carousel-inner {
    border: 0.5px solid rgba(197, 195, 195, 0.925);
    border-radius: 8px;
    }
nav#menu1 {
    display: block;
}
nav#menu1 ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 70px;
    font-size: 10pt;
    }
nav#menu1 li {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 2px;
    border: 1px solid rgba(197, 195, 195, 0.925);
    transition: background-color 1s;             
}
nav#menu1 li:hover {
    background-color:rgb(146, 122, 56);
    color: white;
}
nav#menu1 h1 {
    display:none;
}
.col-12 h1 {
    color: rgb(146, 122, 56);
    margin-top: 160px;
    margin-left: 105px;
    font-size: 15pt;
    display: block;
    background-color: rgb(252, 243, 243);        
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    border: 1px solid rgba(207, 195, 195, 0.555);
}
#text h1 {
    color: rgb(146, 122, 56);
    margin-bottom: -13px;
    margin-top: 30px;
    border: 1px solid rgba(207, 195, 195, 0.555);
    
}
h2 {
    color: rgba(36, 29, 11, 0.788);
    margin-left: 13px;
    margin-top: -2px;
    font-size: 11pt;
}
h3 {
    color: rgba(36, 29, 11, 0.788);
    margin-left: 13px;
    margin-top: 0px;
    font-size: 9pt;
}
#Maps {
    color: rgba(0, 128, 0, 0.699);
    font-size: 13pt;
}
#Maps:hover {
    color: rgba(0, 153, 255, 0.562);        
}