.col-12 {
    border: 1px solid rgba(197, 195, 195, 0.925);
    height: 735px;
}
p {
    margin-top: 40px;
    text-align: center;            
}
div.col-6 p {
    color: rgb(146, 122, 56);
    font-size: 20pt;
}
div.col-6 {
    background-color: rgb(252, 243, 243);
    }
.col { /*Footer*/
    background-color: rgb(252, 243, 243);
}  
.col-sm-6 {
    background-color: rgb(252, 243, 243);
}      
.btn {
    position: absolute;
    color: black;
    background-color: white;
    border-radius: 25px;                       
    left: 800px;
    top: 600px;
    }
.btn:hover{
    background-color: rgba(179, 153, 84, 0.719);
    color: white;
    text-decoration: underline;
    transition: background-color 1.2s;     
}
nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left: 100px;
}
nav#menu li {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    margin: 2px;
    border: 1px solid rgba(197, 195, 195, 0.925);
    transition: background-color 1s;            
}
nav#menu li:hover {
    background-color:rgb(146, 122, 56);
}
nav#menu h1 {
    display:none;
}
#gif {
    position: absolute;
    margin-top: -7px;
    margin-left: 8px;
}


